# Database
# POSTGRES_URL="your_postgres_connection_string"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="xhyuan9490"
POSTGRES_DATABASE="daily_memory"

# Anthropic API
ANTHROPIC_API_KEY= "sk-cp-M6omOBT9tTDZhb2VSjW-jaK_XkWHgQpCrR-1lEfNn04Cfb6ydeOJH9kLVT4bfM-2X9zWxq7z5CaRNBAOcSDbDk5ng7AZNIyNvbMVuYzZUZll94tQvYjz_bQ"
