# Dependencies
node_modules/

# Next.js
.next/
out/

# Production
build/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
